/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline
}
@font-face {font-family:
    'Lobster1.1Regular';
    src:
    url(../fonts/Lobster_1.1_-webfont.eot'.html');
    src:
    local('☺'), url(../fonts/Lobster_1.1_-webfont.woff'.html') format('woff'), url(../fonts/Lobster_1.1_-webfont.ttf'.html') format('truetype'), url('../fonts/Lobster_1.1_-webfont.svg#webfont30G9S4nm') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family:
    'RalewayThin';
    src:
    url(../fonts/raleway_thin-webfont.eot'.html');
    src:
    local('☺'), url(../fonts/raleway_thin-webfont.woff'.html') format('woff'), url(../fonts/raleway_thin-webfont.ttf'.html') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    padding-bottom: 10px;
}

/* Site-wide properties ======================================================== */
body {
    font: normal normal 13px / 13px Calibri, Helvetica, Verdana, sans-serif;
    background: #b0b4b8;
    line-height: 20px;
}

/* Fibonacci based heading scale ratio */
h1 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Arvo', arial, serif;
    padding: 0 0 20px 0;
}

h2 {
    font-family: 'Arvo', arial, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    padding: 10px 0;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
}

a {
    color: #6a205f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Reusable classes ============================================================ */
/* Left & Right alignment */
.left {
    float: left;
}

.right {
    float: right;
}

/* The inside class provides consistent padding. To be used often! */
/* The fraction classes are useful for column lists */
.half, .third, .quarter, .fifth, .sixth {
    width: 100%;
}

.half li, .third li, .quarter li, .fifth li, .sixth li {
    float: left;
}

.half li {
    padding-right: 5%;
    width: 45%
}

.third li {
    padding-right: 5%;
    width: 28.3%
}

.quarter li {
    padding-right: 5%;
    width: 20%
}

.fifth li {
    padding-right: 5%;
    width: 15%
}

/* For when a <br /> just ain't enough */
.separator {
    clear: both;
    float: left;
    height: 1px;
    width: 100%;
}

.clear {
    clear: both;
}

.buttonSmall {
    background: #6a205f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    margin-bottom: 10px;
}

.buttonSmall:hover {
    background: #a3749c;
}

.buttonSmall a {
    color: #fff;
    text-decoration: none;
}

.buttonSmall:after {
    content: url(../img/buttonSmall.png);
    padding: 1px 0 0 5px;
    display: block;
    float: right;
}

.buttonLarge {
    background: #6a205f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    display: block;
    float: left;
    margin-right: 20px;
}

.buttonLarge:hover {
    background: #a3749c;
}

.buttonLarge a {
    color: #fff;
    text-decoration: none;
}

.buttonLarge:after {
    content: url(../img/buttonLarge.png);
    padding: 2px 0 0 10px;
    display: block;
    float: right;
}

/* Basic Structure ============================================================= */
.wrap {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

#top {
    background: #6a205f;
    width: 100%;
    height: 70px;
    position: relative;
}

#xebiaLogo {
    width: 330px;
    height: 45px;
    padding: 12px 0 13px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#navigation {
    width: 530px;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
}

ul#mainNav form{
  display:inline;
}
 
ul#mainNav form label{
   font-size: 12px;
   color: #fff;
   text-decoration: none;
   text-shadow: 1px 1px #000;
   padding-right: 5px;
}

#loginForm input{
   width:50px;
   height: 30;
}
#loginForm  li{
   padding: 0 0 0 15px;
   content: "";
}

#loginForm  input[type="submit"] {
  background: #8C8C84;
  width: auto;
  font-weight: normal;
  font-size: 12px;
  text-shadow: 1px 1px #000;
  margin-bottom: 0;
  border: none;
  background-color: #818387;
  padding: 0 10px;
  height: 28px;
  color: white;
  border-radius: 2px;
}

#loginForm  input[type="submit"]:active {
  opacity: 0.7;
}

#loginForm  input[type="submit"]:hover {
  background: #70706B;
  cursor: pointer;
  background-color: #333;
}

#loginForm  fieldset {
    list-style: none;
    display: inline;
    font-size: 12px;
    padding: 0 0 0 35px;
}

ul#mainNav {
    line-height: 67px;
}

ul#mainNav li {
    list-style: none;
    display: inline;
    font-size: 12px;
    padding: 0 0 0 35px;
}

ul#mainNav li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}

ul#mainNav li a:hover {
    color: #f6cff0;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);
}

ul#mainNav li a:after {
    content: " | ";
}

#header {
    background: url(../img/headerBG.png);
    width: 100%;
    height: 200px;
    position: relative;
}

#header .wrap {
    height: 350px;
}

#header:after {
    content: url(../img/shadowTop.png);
    position: absolute;
    top: 326px;
    left: 50%;
    margin-left: -480px;
}

#home #main {
    width: 100%;
    background: #f2f5f5;
    position: relative;
    padding: 50px 0 30px 0;
}

#main {
    width: 100%;
    background: #f2f5f5;
    position: relative;
    padding: 0px;
}

#footer {
    width: 100%;
    position: relative;
    padding: 20px 0;
}

#footer:before {
    content: url(../img/shadowBottom.png);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -480px;
}

.footerRowSmall {
    float: left;
    width: 250px;
    line-height: 22px;
    color: #fff;
}

.footerRowWide {
    float: left;
    width: 460px;
    line-height: 22px;
    color: #fff;
}

#footer h2 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

ul#footerNav {
    list-style: none;
}

ul#footerNav li {
    line-height: 22px;
}

ul#footerNav li a {
    color: #fff;
    text-decoration: none;
}

ul#footerNav li a:hover {
    color: #f6cff0;
}

#coreMsg {
    position: relative;
    padding-bottom: 30px;
}

.coreMsgItem {
    text-align: justify;
    /*width:210px;*/
    min-height: 120px;
    margin-right: 40px;
    position: relative;
    border-bottom: 1px solid #B0B4B8;
    margin-bottom: 15px;
}

#coreMsg .last {
    margin-right: 0 !important;
}

.h1img {
    float: left;
    padding-right: 5px;
}

#coreMsg h1 {
    line-height: 40px;
}

#headerContent {
    /*width: 400px;*/
    float: left;
    margin-right: 20px;
}

#headerContent h1 {
    color: #6A205F;
    font-size: 32px;
    line-height: 40px;
    padding: 25px 0;
}

#headerContentTxt {
    height: 156px;
}

#homeSlider {
    float: left;
    width: 540px;
    position: relative;
}

#iphoneBG {
    background: url(../img/iphoneBG.png);
    width: 531px;
    height: 391px;
    position: absolute;
    top: 20px;
}

#sliderWrapper {
    position: absolute;
    left: 106px;
    top: 36px;
}

#featured img.reflected {
    margin-bottom: 39px !important;
}

.halfPage {
    width: 460px;
    float: left;
}

.inside {
    padding: 0 30px 0 0;
}

.inside p {
    line-height: 20px;
    margin: 0 0 20px 0;
}

.tweet {
    min-height: 40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
    background: #a3749c;
    color: white;
    padding: 5px 10px;
    position: relative;
    word-wrap: break-word;
    -moz-border-radius: 5px; /*add some nice CSS3 round corners*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-left: 60px;
}

.tweet:after { /*arrow added to leftarrowdiv DIV*/
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -20px; /*should be set to -border-width x 2 */
    width: 0;
    height: 0;
    border-color: transparent #a3749c transparent transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 10px;
}

#homeClients {
    margin: 0 0 0 40px;
}

.clientImage {
    border-color: #a3749c;
    border-width: 3px;
    border-style: solid;
    margin: 0 10px 10px 0;
}

.side {
    width: 300px;
    padding: 40px 20px;
    float: left;
}

.content {
    float: left;
    padding: 40px 0 40px 40px;
    width: 580px;
}

#main .wrap {
    background: url(../img/contentBG.jpg);
}

#home #main .wrap {
    background: none !important;
}

/*div.reflect { width: 320px !important; height: 285px !important; overflow: hidden !important; z-index: 3 !important; display: block !important;}*/
/*.reflect canvas {
 margin-top:39px;
 }*/
/* Header */
/* header{
 float: left;
 width: 100%; }

 /* Content */
/*article{
 float: left;
 width: 66.7%; }*/
/* Sidebar */
/* aside{
 float: left;
 width: 33.3%; }

 /* Footer */
/* footer{
 float: left;
 width: 100%; }*/
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */
#contactA {
    float: left;
    padding-top: 20px;
}

#contactB {
    float: left;
    padding-left: 30px;
    padding-top: 20px;
}

#contactC {
    float: left;
    padding-left: 30px;
}

#contact #header {
    height: 260px !important;
    overflow: hidden;
}

#contact #header:after {
    content: url(../img/shadowTop.png);
    top: 240px;
    left: 50%;
    margin-left: -480px;
}

#contact h1 {
    padding-top: 20px;
    padding-bottom: 5px;
}

#portfolio #header {
    height: 425px !important;
    overflow: hidden;
    background: url(../img/headerBG.png);
    background-position: bottom !important;
    background-repeat: repeat-x !important;
    background-color: #ececed;
    padding-top: 20px;
}

#portfolio #header:after {
    content: url(../img/shadowTop.png);
    top: 420px;
    left: 50%;
    margin-left: -480px;
}

#contactC1 {
    width: 45%;
    float: left;
    padding-right: 10px;
}

#contactC1 ul, #contactC2 ul {
    padding-bottom: 15px;
}

#contactC2 {
    width: 45%;
    float: left;
    padding-left: 30px;
}
