[submodule "modules/spring-yammer-social"]
	path = modules/spring-yammer-social
	url = git://github.com/magott/spring-social-yammer.git
[submodule "modules/ews-java"]
	path = modules/ews-java
	url = git://github.com/buckett/ews-java.git
