
/*
 Design by Free CSS Templates
 http://www.freecsstemplates.org
 Released for free under a Creative Commons Attribution 2.5 License
 */
body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(../images/img02.jpg) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A19D9A;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #FF3000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    /*line-height: 180%;*/
}

ul, ol {
}

a {
    text-decoration: underline;
    color: #FFD4F4;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */
#header-wrapper {
    height: 125px;
}

#header {
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
}

/* Logo */
#logo {
    float: left;
    width: 350px;
    margin: 0;
    padding: 0;
    color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
    margin-left: 30px;
    padding: 20px 0px 0px 0px;
    letter-spacing: -1px;
    font-size: 3.8em;
    color: #FF3000;
}

#logo h1 a {
    color: #FFFFFF;
}

#logo h1 span {
}

#logo p {
    margin: 0;
    padding: 20px 0 0 32px;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #FFFFFF;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* Search */
#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #F3F3EE;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #77476B;
    color: #FFFFFF;
}

/* Menu */
#menu {
    float: right;
    width: 450px;
    height: 125px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 85px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    padding: 10px 15px 14px 15px;
    background: #77476B;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: #451739;
    text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */
#page {
    width: 980px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

#page-bgtop {
    padding: 20px 0px;
}

/* Questions */
#questions {
    float: left;
    width: 650px;
    padding: 0px 0px 0px 0px;
}

.question {
}

.question .title {
    height: 41px;
    padding: 0px 0px 0px 30px;
    letter-spacing: -1px;
    font-size: 1.5em;
}

.question .title a {
    text-decoration: none;
    color: #5A1F4B;
    border: none;
}

.question .meta {
    height: 38px;
    margin: 0px;
    padding: 12px 30px 0px 30px;
    background: url(../images/img03.jpg) no-repeat left top;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: lighter;
    color: #FFFFFF;
}

.question .meta .date {
    float: left;
}

.question .meta .posted {
    float: right;
}

.question .meta a {
    color: #FFFFFF;
}

.question .entry {
    background: #77476B;
    padding: 5px 30px;
    padding-bottom: 5px;
    text-align: justify;
    color: #FFFFFF;
    font-size: 1.1em;
}

.question .entry a {
    color: #FFFFFF;
    text-decoration: none;
}

.links {
    height: 50px;
    background: url(../images/img04.jpg) no-repeat left top;
    padding: 15px 30px 0px 0px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.links a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 280px;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    color: #787878;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dotted #E7E2DC;
    margin: 0px 0px 0px 30px;
    border-left: none;
    text-align: left;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 15px;
    background: url(../images/img01.jpg) no-repeat left 5px;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    text-align: left;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #5A1F4B;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 0px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
    color: #77476B;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #5A1F4B;
}

/* Calendar */
#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */
#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    background: #77476B;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

#footer a {
    color: #FFFFFF;
}

.statistics {
    float: left;
    margin-left: 30px;
}

.posted img {
    margin-right: 20px;
}

.tags a {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}

.xebia-logo {
    color: #9F89A8;
}

.timeago{
    border-bottom-width: 0;
}

.links .noanswer{
    color: red;
}
